<%- include("partials/header") -%>
<h1> Home </h1>
<p> <%= content %></p>

<!-- <%for(let i=0;i<article.length;i++){%>
 <h1><%= article[i].title%> </h1> 
 <p> <%= article[i].content%> </p>
<%}%>
 -->
<% article.forEach(function(post){ %>
	<h1> <%= post.title %></h1>
	<p> 
		<%=  post.content.substring(0,100) + "..." %> 
		<a href="/posts/<%= post._id %>" >Read More</a> 
	</p>
<%})%>

<%- include("partials/footer") -%>